public/
resources/
.DS_Store
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
.hugo_build.lock

/components/node_modules/
/components/dist/
/components/.vite/
/static/js/*.js
/static/js/*.js.map

*.log
.env
.env.*