:root {
    --body-bg: #212121;
  }
  html {
    background: #212121 !important;

  }

  body {
    background-color: #212121;
  }

  .header, 
header#site-header
{
  background-color: #1C1C1C !important;
}
.footer,
footer#site-footer {
    background-color: none !important;
}

body {
    background-color: #212121;
    letter-spacing: 0.03em;
}


.overflow-x-auto {
    /* For Webkit browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
      height: 10px;
    }
    
    &::-webkit-scrollbar-track {
      background: #1E201F;
    }
    
    &::-webkit-scrollbar-thumb {
      background: #424242;
      border-radius: 4px;
    }
  
    /* For Firefox */
    scrollbar-color: #424242 #1E201F;
    scrollbar-width: thin;
  }

  .full-width-container {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 0;
}
  
.full-width-inner {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1rem;
}
  
  .full-width-image {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    height: auto;
    display: flex;
    justify-content: center;
  }
  
  .full-width-image img {
    width: 100%;
    height: auto;
    max-height: 70vh;
    max-width: 1600px;
    object-fit: cover;
  }

  .expandable-content ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 1rem 0;
}

.expandable-content ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin: 1rem 0;
}

.expandable-content li {
    margin: 0.5rem 0;
}

.expandable-content p {
    margin: 1rem 0;
}

.expandable-wrapper h3 {
    margin: 16px 0 !important;
}
.post-image {
    margin: 0;
}

.post-image img {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 0 0 0 0;
}

.bg-img {
    display: none !important;
    background-image: none !important;
}

#share-links {
    background-color: #212121 !important;
}

#share-links ul {
    font-size: inherit !important;
}

.site-branding {
    font-size: inherit !important;
}

.site-branding img {
    
    height: 24px;
    /* Optional: add these for smoother scaling */
    object-fit: contain;
    vertical-align: middle;
}

/* Optional: add hover effect */
.site-branding img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.big-button {
    background: #0B985D;
    color: #fff;
    display: inline-block;
    padding: 4px 16px;
    border-radius: 8px;
    font-weight:600;
    font-size:14px;
}

.post-title{
    font-size:24px;
    font-weight:500;
    padding-left: 12px;
}
.post-day{
padding-right:12px
}



.posts-group .post-item {
    border-bottom: none!important;
    background: #1C1C1C;
    border-radius:8px;
    padding:0px 12px 12px 12px; 
}

.posts-group .post-item a{
         border-bottom: none!important;
}
.posts-group li.post-item {
    margin-bottom:12px
}