<header id="site-header" class="animated slideInUp">
    <div class="hdr-wrapper section-inner">
        <div class="hdr-left">
            <div class="site-branding">
                <a href="{{.Site.BaseURL}}"><img src="https://assets.tryreva.com/Union.png" /></a>
            </div>
        </div>
        <div class="hdr-right hdr-icons">
            
            {{- with .Params.toc -}}
            <button id="toc-btn" class="hdr-btn desktop-only-ib" title="{{i18n "tableOfContents"}}">{{- partial "svg.html" (dict "context" . "name" "toc") -}}</button>
            {{- end -}}
            {{- with .Site.Params.socialLinks -}}
            <span class="hdr-social hide-in-mobile">{{- partialCached "social-icons.html" . -}}</span>
            {{- end -}}
            {{- if and (not (eq .Site.Params.shareSocial nil)) (.Site.Params.shareSocial) -}}{{- partial "social-share.html" . -}}{{- end -}}
        </div>
    </div>
</header>
